In [12]:
from common_functions import ret_metabase, google_sheets, upload_dataframe_to_snowflake, snowflake_query, upload_dataframe_to_pg, dwh_query, initialize_env
import pandas as pd
from datetime import datetime, timedelta
import datetime as dt
import time
import os
import boto3
import base64
from botocore.exceptions import ClientError
import json
import requests
from pathlib import Path
from io import StringIO
import pandas as pd
# import psycopg2
import numpy as np
import gspread
import pytz

In [7]:
data_to_check = snowflake_query("Egypt", """
select  day_of_week, 
		half_hour_label, 
		min(order_count) min_count, 
		max(order_count) max_count, 
		median(order_count) as median, 
		min(case when percentile >= 0.1 then order_count end) as lowest_decile, 
		min(case when percentile >= 0.05 then order_count end) as lowest_fifth
from (
select *, 
		percent_rank() over(partition by day_of_week, half_hour_label order by order_count) percentile
from (
select *, 
		row_number() over(partition by day_of_week, half_hour_label order by order_count) r 
from (
select dayname(so.created_at) as day_of_week, 
	   so.created_at::date as so_date, 
	   TO_CHAR( DATEADD(minute,CEIL(DATE_PART(minute, created_at) / 30.0) * 30,DATE_TRUNC(hour, created_at)),'HH24:MI') AS half_hour_label, 
count(distinct parent_sales_order_id) as order_count
from  public.sales_orders so 
where so.created_at::date between current_date - 900 and current_date 
group by all)))
group by all """)


data = dwh_query("Egypt", """
select TO_CHAR(created_at, 'Dy') as day_of_week, 
	   TO_CHAR(DATE_TRUNC('hour', created_at) + ((CEIL(EXTRACT(MINUTE FROM created_at) / 30.0) * 30) || ' minutes')::interval, 'HH24:MI') AS half_hour_label, 
count(distinct parent_sales_order_id) as order_count
from  public.sales_orders so 
where cast(so.created_at as date) = current_date
group by 1,2
""", "read", columns=[], conn=None)


target_check = data[data['half_hour_label'] == target_label]
confirm_data = data_to_check[(data_to_check['day_of_week'] == target_check['day_of_week'].iloc[0])
                            & (data_to_check['half_hour_label'] == target_label)]
if targert_check['order_count'].iloc[0] <= confirm_data['lowest_decile'].iloc[0]:
    #send to slack the alert

/home/ec2-user/service_account_key.json

,day_of_week,half_hour_label,min_count,max_count,median,lowest_decile,lowest_fifth
0,Sat,11:30,29,177,103.500,75,69
1,Fri,21:30,32,235,150.000,107,95
2,Tue,07:00,11,59,33.500,22,17
3,Sat,23:30,30,288,173.500,111,97
4,Thu,08:00,11,66,30.000,21,19
...,...,...,...,...,...,...,...
331,Sun,04:30,23,91,50.500,35,32
332,Wed,22:00,32,782,232.500,140,124
333,Thu,18:30,28,305,221.000,87,59
334,Wed,12:00,7,359,128.500,96,84
335,Wed,17:30,21,457,256.000,174,155

In [14]:
data = dwh_query("Egypt", """
select TO_CHAR(created_at, 'Dy') as day_of_week, 
	   TO_CHAR(DATE_TRUNC('hour', created_at) + ((CEIL(EXTRACT(MINUTE FROM created_at) / 30.0) * 30) || ' minutes')::interval, 'HH24:MI') AS half_hour_label, 
count(distinct parent_sales_order_id) as order_count
from  public.sales_orders so 
where cast(so.created_at as date) = current_date
group by 1,2
""", "read", columns=[], conn=None)


target_check = data[data['half_hour_label'] == target_label]
confirm_data = data_to_check[(data_to_check['day_of_week'] == target_check['day_of_week'].iloc[0])
                            & (data_to_check['half_hour_label'] == target_label)]
if targert_check['order_count'].iloc[0] <= confirm_data['lowest_decile'].iloc[0]:
    #send to slack the alert

/home/ec2-user/service_account_key.json

   day_of_week half_hour_label  order_count
0          Tue           00:00            6
1          Tue           00:30          111
2          Tue           01:00          117
3          Tue           01:30           95
4          Tue           02:00           86
5          Tue           02:30           70
6          Tue           03:00           66
7          Tue           03:30           61
8          Tue           04:00           50
9          Tue           04:30           39
10         Tue           05:00           42
11         Tue           05:30           30
12         Tue           06:00           29
13         Tue           06:30           28
14         Tue           07:00           36
15         Tue           07:30           37
16         Tue           08:00           30
17         Tue           08:30           24
18         Tue           09:00           40
19         Tue           09:30           68
20         Tue           10:00           62
21         Tue           10:30           33

In [13]:
# Use Cairo timezone for alignment with business hours
try:
    tz = pytz.timezone('Africa/Cairo')
except Exception:
    tz = None
now = datetime.now(tz) if tz else datetime.now()

current_hour = now.hour
minute = now.minute
print(f"Current time: {now} | Hour: {current_hour} | Minute: {minute}")

# Always select the previous half-hour window
if minute < 30:
    target_label = f"{current_hour:02d}:00"
else:
    target_label = f"{current_hour:02d}:30"

print(f"Computed target half-hour label: {target_label}")

Current time: 2025-10-07 10:14:28.454230+03:00 | Hour: 10 | Minute: 14
Computed target half-hour label: 10:00

In [16]:
target_check = data[data['half_hour_label'] == target_label]
confirm_data = data_to_check[(data_to_check['day_of_week'] == target_check['day_of_week'].iloc[0])
                            & (data_to_check['half_hour_label'] == target_label)]
if targert_check['order_count'].iloc[0] <= confirm_data['lowest_decile'].iloc[0]:
    #send to slack the alert

   day_of_week half_hour_label  order_count
20         Tue           10:00           62

In [21]:
confirm_data = data_to_check[(data_to_check['day_of_week'] == target_check['day_of_week'].iloc[0])
                            & (data_to_check['half_hour_label'] == target_label)]
if targert_check['order_count'].iloc[0] <= confirm_data['lowest_decile'].iloc[0]:
    #send to slack the alert

,day_of_week,half_hour_label,min_count,max_count,median,lowest_decile,lowest_fifth
227,Tue,10:00,8,165,69.000,44,40

In [11]:
    last_half_hour = dwh_query("Egypt", """
with thresholds as (
select	day_of_week,
		half_hour_label,
		min(order_count) as min_count,
		max(order_count) as max_count,
		percentile_disc(0.5) within group (order by order_count) as median,
		percentile_disc(0.1) within group (order by order_count) as lowest_decile,
		percentile_disc(0.05) within group (order by order_count) as lowest_fifth
from (
	select	to_char(so.created_at, 'FMDay') as day_of_week,
			extract(hour from so.created_at)::int as hour,
			so.created_at::date as so_date,
			to_char(
				date_trunc('hour', so.created_at)
				+
				interval '1 minute' * (ceil(extract(minute from so.created_at) / 30.0)::int * 30),
				'HH24:MI'
			) as half_hour_label,
			count(distinct parent_sales_order_id) as order_count
	from public.sales_orders so
	where so.created_at::date between current_date - 60 and current_date
	group by to_char(so.created_at, 'FMDay'), extract(hour from so.created_at), so.created_at::date, to_char(
			date_trunc('hour', so.created_at)
			+
			interval '1 minute' * (ceil(extract(minute from so.created_at) / 30.0)::int * 30),
			'HH24:MI'
		)
)s
group by day_of_week, half_hour_label
),

so as (
select	to_char(so.created_at, 'FMDay') as day_of_week,
		extract(hour from so.created_at)::int as hour,
		so.created_at::date as so_date,
		to_char(
			date_trunc('hour', so.created_at)
			+
			interval '1 minute' * (ceil(extract(minute from so.created_at) / 30.0)::int * 30),
			'HH24:MI'
		) as half_hour_label,
		count(distinct parent_sales_order_id) as order_count
from public.sales_orders so
where so.created_at::date = current_date
group by to_char(so.created_at, 'FMDay'), extract(hour from so.created_at), so.created_at::date, to_char(
		date_trunc('hour', so.created_at)
		+
		interval '1 minute' * (ceil(extract(minute from so.created_at) / 30.0)::int * 30),
		'HH24:MI'
)
) 

select t.*,
	   so.order_count
from thresholds t
left join so on t.day_of_week = so.day_of_week and t.half_hour_label = so.half_hour_label
where t.day_of_week = to_char(current_date, 'FMDay')
order by t.half_hour_label

""", "read", columns=[], conn=None)
last_half_hour

/home/ec2-user/service_account_key.json

,day_of_week,half_hour_label,min_count,max_count,median,lowest_decile,lowest_fifth,order_count
0,Monday,00:00,1,149,9,3,1,3.0
1,Monday,00:30,99,135,109,99,99,101.0
2,Monday,01:00,1,143,7,2,1,91.0
3,Monday,01:00,1,143,7,2,1,6.0
4,Monday,01:30,76,160,91,76,76,83.0
5,Monday,02:00,2,140,4,2,2,89.0
6,Monday,02:00,2,140,4,2,2,3.0
7,Monday,02:30,59,92,73,59,59,64.0
8,Monday,03:00,1,93,58,2,1,72.0
9,Monday,03:30,50,79,63,50,50,57.0
10,Monday,04:00,1,63,30,1,1,30.0
11,Monday,04:00,1,63,30,1,1,3.0
12,Monday,04:30,29,73,53,29,29,43.0
13,Monday,05:00,1,56,34,1,1,49.0
14,Monday,05:30,33,47,40,33,33,36.0
15,Monday,06:00,1,41,31,1,1,32.0
16,Monday,06:30,24,41,33,24,24,24.0
17,Monday,07:00,1,37,24,1,1,28.0
18,Monday,07:00,1,37,24,1,1,2.0
19,Monday,07:30,23,40,28,23,23,35.0
20,Monday,08:00,1,33,25,1,1,32.0
21,Monday,08:00,1,33,25,1,1,1.0
22,Monday,08:30,23,46,32,23,23,28.0
23,Monday,09:00,1,48,35,1,1,45.0
24,Monday,09:00,1,48,35,1,1,1.0
25,Monday,09:30,35,57,50,35,35,55.0
26,Monday,10:00,2,66,38,2,2,63.0
27,Monday,10:00,2,66,38,2,2,3.0
28,Monday,10:30,52,85,58,52,52,55.0
29,Monday,11:00,2,78,4,2,2,60.0
30,Monday,11:00,2,78,4,2,2,2.0
31,Monday,11:30,59,104,81,59,59,89.0
32,Monday,12:00,2,101,5,2,2,70.0
33,Monday,12:00,2,101,5,2,2,4.0
34,Monday,12:30,93,115,108,93,93,115.0
35,Monday,13:00,3,158,8,3,3,150.0
36,Monday,13:00,3,158,8,3,3,3.0
37,Monday,13:30,104,141,120,104,104,120.0
38,Monday,14:00,1,161,10,2,1,113.0
39,Monday,14:00,1,161,10,2,1,1.0
40,Monday,14:30,55,208,155,55,55,55.0
41,Monday,15:00,1,256,9,2,1,152.0
42,Monday,15:00,1,256,9,2,1,1.0
43,Monday,15:30,156,210,185,156,156,156.0
44,Monday,16:00,2,211,35,3,2,35.0
45,Monday,16:30,159,231,189,159,159,NaN
46,Monday,17:00,3,207,13,3,3,NaN
47,Monday,17:30,139,213,169,139,139,NaN
48,Monday,18:00,1,202,13,4,1,NaN
49,Monday,18:30,145,218,179,145,145,NaN
50,Monday,19:00,3,195,8,3,3,NaN
51,Monday,19:30,156,186,177,156,156,NaN
52,Monday,20:00,3,195,7,3,3,NaN
53,Monday,20:30,148,221,183,148,148,NaN
54,Monday,21:00,12,212,22,14,12,NaN
55,Monday,21:30,157,219,175,157,157,NaN
56,Monday,22:00,2,164,9,2,2,NaN
57,Monday,22:30,104,182,128,104,104,NaN
58,Monday,23:00,3,159,105,3,3,NaN
59,Monday,23:30,107,154,116,107,107,NaN

In [10]:
df_filtered = last_half_hour[last_half_hour['half_hour_label'] == "15:00"]
df_filtered

,day_of_week,half_hour_label,min_count,max_count,median,lowest_decile,lowest_fifth,order_count
41,Monday,15:00,1,256,9,2,1,152.0
42,Monday,15:00,1,256,9,2,1,1.0

In [7]:
df_filtered = last_half_hour[last_half_hour['half_hour_label'] == "15:30"]
df_filtered

,day_of_week,hour,half_hour_label,min_count,max_count,median,lowest_decile,lowest_fifth,order_count
70,Monday,15.0,15:30,112,210,185.0,160,160,112.0

In [18]:
try:
    if isinstance(last_half_hour, pd.DataFrame) and not last_half_hour.empty:
        # Use Cairo timezone for alignment with business hours
        try:
            tz = pytz.timezone('Africa/Cairo')
        except Exception:
            tz = None
        now = datetime.now(tz) if tz else datetime.now()

        current_hour = now.hour
        minute = now.minute
        print(f"Current time: {now} | Hour: {current_hour} | Minute: {minute}")

        if minute < 30:
            target_label = f"{current_hour:02d}:00"
        else:
            target_label = f"{current_hour:02d}:30"

        print(f"Computed target half-hour label: {target_label}")

        # Filter for matching half-hour label and current hour to avoid duplicates
        try:
            df_filtered = last_half_hour[
                (last_half_hour['half_hour_label'] == target_label) &
                (last_half_hour['hour'].astype(int) == int(current_hour))
            ]
        except Exception:
            # Fallback if type casting fails
            df_filtered = last_half_hour[last_half_hour['half_hour_label'] == target_label]

        print(f"Matched rows for label '{target_label}' and hour '{current_hour}': {len(df_filtered)}")

        if not df_filtered.empty:
            row = df_filtered.iloc[0]
            order_count = row.get("order_count")
            lowest_decile = row.get("lowest_decile")
            print(f"Selected row -> order_count: {order_count}, lowest_decile: {lowest_decile}")

            if pd.notna(order_count) and pd.notna(lowest_decile) and order_count <= lowest_decile:
                print(
                    f"⚠️ E-commerce orders have dropped: {order_count} <= lowest decile {lowest_decile} "
                    f"for half-hour {target_label} (hour {current_hour})."
                )
                try:
                    send_text_slack(channel='seif_error_logs', text=alert_msg)
                except Exception as slack_err:
                    print(f"Failed to send Slack alert: {slack_err}")
            else:
                print(
                    f"No alert: order_count {order_count} vs lowest_decile {lowest_decile} for {target_label} hour {current_hour}"
                )
        else:
            print(f"No matching row for label {target_label} and hour {current_hour}; skipping alert.")
    else:
        print("last_half_hour is empty or not a DataFrame; skipping alert check.")
except Exception as e:
    print(f"Error while evaluating last_half_hour alert condition: {e}")

Current time: 2025-10-05 12:42:18.079330+03:00 | Hour: 12 | Minute: 42
Computed target half-hour label: 12:30
Matched rows for label '12:30' and hour '12': 1
Selected row -> order_count: 35.0, lowest_decile: 99
⚠️ E-commerce orders have dropped: 35.0 <= lowest decile 99 for half-hour 12:30 (hour 12).
Failed to send Slack alert: name 'send_text_slack' is not defined