In [1]:
from common_functions import ret_metabase, google_sheets, dwh_query, upload_dataframe_to_pg, upload_dataframe_to_snowflake, snowflake_query

import pandas as pd
from datetime import datetime, timedelta
import datetime as dt
import time
import os
import boto3
import base64
from botocore.exceptions import ClientError
import json
import requests
from pathlib import Path
from io import StringIO
import pandas as pd
import sqlalchemy
import psycopg2
import numpy as np
import gspread
import pytz

In [64]:
# Use left join to keep all retailers from ipn_df
merged_df_left = ipn_df.merge(
    bank_df, 
    left_on='DEPOSIT_REFERENCE_NUMBER', 
    right_on='External Reference Number', 
    how='left'  # Keep all retailers from ipn_df
)

# Separate the data
# Retailers WITH matching bank data (28 rows)
with_bank_data = merged_df_left[merged_df_left['Description'].notna()]

# Retailers WITHOUT matching bank data (240 rows)
without_bank_data = merged_df_left[merged_df_left['Description'].isna()]

print(f"Retailers with bank data: {len(with_bank_data)}")
print(f"Retailers without bank data: {len(without_bank_data)}")

Retailers with bank data: 28
Retailers without bank data: 240

In [65]:
without_bank_data

,RETAILER_ID,DEPOSIT_REFERENCE_NUMBER,Description,External Reference Number
0,1803677,4ce823b8-e9d6-4c14-C,NaN,NaN
1,1901490,6cad6768-b1f5-4fbd-C,NaN,NaN
2,1231249,f8e766b2-c5ea-4ec4-C,NaN,NaN
3,1507230,ae1af912-5a88-4415-C,NaN,NaN
4,49946,e38bcdfd-978c-49d6-C,NaN,NaN
...,...,...,...,...
240,784768,95f70470-b5bb-4667-C,NaN,NaN
241,1827314,08c073ab-20e0-4e4d-C,NaN,NaN
242,682383,4a85518a-f3e7-4593-C,NaN,NaN
243,33044,00de5174-d20a-4634-C,NaN,NaN
267,1845250,12344556677890,NaN,NaN

In [2]:
bank_df = google_sheets("Test_IPN", "bank", "get")
bank_df = bank_df[bank_df["Description"].str.contains("IPN", na=False)]
bank_df = bank_df[['Description', 'External Reference Number']]

IPN_df = ret_metabase("Egypt", 63680)
ipn_df = IPN_df[IPN_df["REQUEST_STATUS"] == "APPROVED"]
ipn_df = ipn_df[['RETAILER_ID', 'DEPOSIT_REFERENCE_NUMBER']]
print(f"len of approved_data:{len(ipn_df)}")

# Merge the dataframes
merged_df = ipn_df.merge(
    bank_df, 
    left_on='DEPOSIT_REFERENCE_NUMBER', 
    right_on='External Reference Number', 
    how='inner'  # or 'left', 'right', 'outer' depending on your needs
)

check_data = snowflake_query("Egypt", "select * from materialized_views.IPN_users", warehouse=None, columns=[], conn=None)

merged_df = merged_df[['RETAILER_ID', 'Description']]
# Extract the name between "from " and ", Trx ID:"
merged_df['extracted_name'] = merged_df['Description'].str.extract(r'from\s+(.*?),\s+Trx\s+ID:')
merged_data = merged_df[["RETAILER_ID", "extracted_name"]]

merged_df_clean = merged_data.drop_duplicates()
print(f"Original rows: {len(merged_data)}")
print(f"After removing duplicates: {len(merged_df_clean)}")

# Convert both columns to the same data type (string)
merged_df['RETAILER_ID'] = merged_df_clean['RETAILER_ID'].astype(str)
check_data['retailer_id'] = check_data['retailer_id'].astype(str)

# Now apply the filter
filtered_df = merged_df_clean[~merged_df['RETAILER_ID'].isin(check_data['retailer_id'])]

# Verify the results
print(f"Original merged_df rows: {len(merged_df_clean)}")
print(f"check_data unique retailer_ids: {len(check_data['retailer_id'].unique())}")
print(f"Filtered df rows: {len(filtered_df)}")

# Check if 1261016 is correctly excluded
print("1704884 in filtered_df:", '1704884' in filtered_df['RETAILER_ID'].values)

upload_dataframe_to_snowflake("Egypt", filtered_df, "MATERIALIZED_VIEWS", "IPN_users", "append")

/home/ec2-user/service_account_key.json
/home/ec2-user/service_account_key.json
len of approved_data:301
/home/ec2-user/service_account_key.json
Original rows: 292
After removing duplicates: 265
Original merged_df rows: 265
check_data unique retailer_ids: 32
Filtered df rows: 232
1704884 in filtered_df: False

/tmp/ipykernel_31367/398774461.py:34: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df = merged_df_clean[~merged_df['RETAILER_ID'].isin(check_data['retailer_id'])]

In [9]:
bank_df = bank_df[bank_df["Description"].str.contains("IPN", na=False)]
bank_df = bank_df[['Description', 'External Reference Number']]

In [10]:
bank_df

,Description,External Reference Number
0,IPN Network Fund Transfer | Instant Transfer f...,33af2a09-fdc0-4ded-C
1,IPN Network Fund Transfer | Instant Transfer f...,7e00966d-0084-4d3d-C
2,IPN Network Fund Transfer | Instant Transfer f...,eb936599-fee2-4e56-C
3,IPN Network Fund Transfer | Instant Transfer f...,190e4d3c-ff88-42cc-C
177,IPN Network Fund Transfer | Instant Transfer f...,248b1474-ace3-4bb1-C
...,...,...
3105,IPN Network Fund Transfer | Instant Transfer f...,ef0c4f5e-4359-4989-C
3109,IPN Network Fund Transfer | Instant Transfer f...,238ea379-6cde-4b66-C
3110,IPN Network Fund Transfer | Instant Transfer f...,3f05a2df-46c4-416f-C
3112,IPN Network Fund Transfer | Instant Transfer f...,08ea81eb-6086-401e-C
3113,IPN Network Fund Transfer | Instant Transfer f...,d3c85d62-6d73-4795-C

In [11]:
IPN_df = ret_metabase("Egypt", 63680)

/home/ec2-user/service_account_key.json

In [ ]:
ipn_df

In [14]:
ipn_df = IPN_df[IPN_df["REQUEST_STATUS"] == "APPROVED"]

In [15]:
ipn_df = ipn_df[['RETAILER_ID', 'DEPOSIT_REFERENCE_NUMBER']]

In [16]:
# Merge the dataframes
merged_df = ipn_df.merge(
    bank_df, 
    left_on='DEPOSIT_REFERENCE_NUMBER', 
    right_on='External Reference Number', 
    how='inner'  # or 'left', 'right', 'outer' depending on your needs
)

In [19]:
check_data = snowflake_query("Egypt", "select * from materialized_views.IPN_users", warehouse=None, columns=[], conn=None)

/home/ec2-user/service_account_key.json

In [31]:
check_data

   retailer_id                                        description
0      1261016  IPN Network Fund Transfer | Instant Transfer f...
1      1249989  IPN Network Fund Transfer | Instant Transfer f...
2      1811571  IPN Network Fund Transfer | Instant Transfer f...
3      1535491  IPN Network Fund Transfer | Instant Transfer f...
4      2170154  IPN Network Fund Transfer | Instant Transfer f...
5      1845085  IPN Network Fund Transfer | Instant Transfer f...
6      1376504  IPN Network Fund Transfer | Instant Transfer f...
7      1752233  IPN Network Fund Transfer | Instant Transfer f...
8      1736986  IPN Network Fund Transfer | Instant Transfer f...
9       747329  IPN Network Fund Transfer | Instant Transfer f...
10      844205  IPN Network Fund Transfer | Instant Transfer f...
11        7851  IPN Network Fund Transfer | Instant Transfer f...
12     1732025  IPN Network Fund Transfer | Instant Transfer f...
13     1718760  IPN Network Fund Transfer | Instant Transfer f...
14       47563  IPN Network Fund Transfer | Instant Transfer f...
15      783755  IPN Network Fund Transfer | Instant Transfer f...
16      783755  IPN Network Fund Transfer | Instant Transfer f...
17     1566960  IPN Network Fund Transfer | Instant Transfer f...
18     1719779  IPN Network Fund Transfer | Instant Transfer f...
19     1246173  IPN Network Fund Transfer | Instant Transfer f...
20     1174964  IPN Network Fund Transfer | Instant Transfer f...
21      844205  IPN Network Fund Transfer | Instant Transfer f...
22     1819955  IPN Network Fund Transfer | Instant Transfer f...
23     1230963  IPN Network Fund Transfer | Instant Transfer f...
24       20971  IPN Network Fund Transfer | Instant Transfer f...
25     1704884  IPN Network Fund Transfer | Instant Transfer f...
26       91881  IPN Network Fund Transfer | Instant Transfer f...
27      222665  IPN Network Fund Transfer | Instant Transfer f...
28      844205  IPN Network Fund Transfer | Instant Transfer f...
29      844205  IPN Network Fund Transfer | Instant Transfer f...
30      844205  IPN Network Fund Transfer | Instant Transfer f...
31      844205  IPN Network Fund Transfer | Instant Transfer f...
32      627396  IPN Network Fund Transfer | Instant Transfer f...
33     1976266  IPN Network Fund Transfer | Instant Transfer f...
34      844205  IPN Network Fund Transfer | Instant Transfer f...
35      844205  IPN Network Fund Transfer | Instant Transfer f...
36      813864  IPN Network Fund Transfer | Instant Transfer f...
37      844205  IPN Network Fund Transfer | Instant Transfer f...
38     1870804  IPN Network Fund Transfer | Instant Transfer f...
39     1204442  IPN Network Fund Transfer | Instant Transfer f...
40     1033270  IPN Network Fund Transfer | Instant Transfer f...
41      844205  IPN Network Fund Transfer | Instant Transfer f...
42      844205  IPN Network Fund Transfer | Instant Transfer f...

In [17]:
merged_df = merged_df[['RETAILER_ID', 'Description']]

merged_df

    RETAILER_ID                                        Description
0       1261016  IPN Network Fund Transfer | Instant Transfer f...
1       1249989  IPN Network Fund Transfer | Instant Transfer f...
2       1811571  IPN Network Fund Transfer | Instant Transfer f...
3       1535491  IPN Network Fund Transfer | Instant Transfer f...
4       2170154  IPN Network Fund Transfer | Instant Transfer f...
5       1845085  IPN Network Fund Transfer | Instant Transfer f...
6       1376504  IPN Network Fund Transfer | Instant Transfer f...
7       1752233  IPN Network Fund Transfer | Instant Transfer f...
8       1736986  IPN Network Fund Transfer | Instant Transfer f...
9        747329  IPN Network Fund Transfer | Instant Transfer f...
10       844205  IPN Network Fund Transfer | Instant Transfer f...
11         7851  IPN Network Fund Transfer | Instant Transfer f...
12      1732025  IPN Network Fund Transfer | Instant Transfer f...
13      1718760  IPN Network Fund Transfer | Instant Transfer f...
14        47563  IPN Network Fund Transfer | Instant Transfer f...
15       783755  IPN Network Fund Transfer | Instant Transfer f...
16       783755  IPN Network Fund Transfer | Instant Transfer f...
17      1566960  IPN Network Fund Transfer | Instant Transfer f...
18      1719779  IPN Network Fund Transfer | Instant Transfer f...
19      1246173  IPN Network Fund Transfer | Instant Transfer f...
20      1174964  IPN Network Fund Transfer | Instant Transfer f...
21       844205  IPN Network Fund Transfer | Instant Transfer f...
22      1819955  IPN Network Fund Transfer | Instant Transfer f...
23      1230963  IPN Network Fund Transfer | Instant Transfer f...
24        20971  IPN Network Fund Transfer | Instant Transfer f...
25      1704884  IPN Network Fund Transfer | Instant Transfer f...
26        91881  IPN Network Fund Transfer | Instant Transfer f...
27       222665  IPN Network Fund Transfer | Instant Transfer f...
28       844205  IPN Network Fund Transfer | Instant Transfer f...
29       844205  IPN Network Fund Transfer | Instant Transfer f...
30       844205  IPN Network Fund Transfer | Instant Transfer f...
31       844205  IPN Network Fund Transfer | Instant Transfer f...
32       627396  IPN Network Fund Transfer | Instant Transfer f...
33      1976266  IPN Network Fund Transfer | Instant Transfer f...
34       844205  IPN Network Fund Transfer | Instant Transfer f...
35       844205  IPN Network Fund Transfer | Instant Transfer f...
36       813864  IPN Network Fund Transfer | Instant Transfer f...
37       844205  IPN Network Fund Transfer | Instant Transfer f...
38      1870804  IPN Network Fund Transfer | Instant Transfer f...
39      1204442  IPN Network Fund Transfer | Instant Transfer f...
40      1033270  IPN Network Fund Transfer | Instant Transfer f...
41       844205  IPN Network Fund Transfer | Instant Transfer f...
42       844205  IPN Network Fund Transfer | Instant Transfer f...

In [18]:
# Extract the name between "from " and ", Trx ID:"
merged_df['extracted_name'] = merged_df['Description'].str.extract(r'from\s+(.*?),\s+Trx\s+ID:')
merged_df

,RETAILER_ID,Description,extracted_name
0,1261016,IPN Network Fund Transfer | Instant Transfer f...,OMAR ADEL SOBHY WANE
1,1249989,IPN Network Fund Transfer | Instant Transfer f...,HEBATALLAH SHAHEEN MADEN ELGBALY
2,1811571,IPN Network Fund Transfer | Instant Transfer f...,محمد حسنى محمد سيد احمد
3,1535491,IPN Network Fund Transfer | Instant Transfer f...,EHAB MORSI SIDAHMED ELSABAKHY
4,2170154,IPN Network Fund Transfer | Instant Transfer f...,MOHAMED HOSSAM MOHAMED MAHMOUD ABO REZEIKAH
5,1845085,IPN Network Fund Transfer | Instant Transfer f...,ايمان صلاح عليوه
6,1376504,IPN Network Fund Transfer | Instant Transfer f...,HESHAM ABLFATAH MOHAMED
7,1752233,IPN Network Fund Transfer | Instant Transfer f...,SAYED MOSTAFA AMIN SAYED
8,1736986,IPN Network Fund Transfer | Instant Transfer f...,ايمن مسعود على محمد
9,747329,IPN Network Fund Transfer | Instant Transfer f...,ISMAIL MOHAMED ISMAI
10,844205,IPN Network Fund Transfer | Instant Transfer f...,ابراهيم سامى محمد جاد حسن
11,7851,IPN Network Fund Transfer | Instant Transfer f...,Nady Shehata Meatamed Hassanen
12,1732025,IPN Network Fund Transfer | Instant Transfer f...,سعيد تامر بباوى عبيد
13,1718760,IPN Network Fund Transfer | Instant Transfer f...,مسعد غطاس مسعد غطاس
14,47563,IPN Network Fund Transfer | Instant Transfer f...,MOHAMED ABDELLAH ABDELLATIF ABD ALLAH
15,783755,IPN Network Fund Transfer | Instant Transfer f...,MOHAMED SHEHATA RIFAI HASAN ALSHARQAWI
16,783755,IPN Network Fund Transfer | Instant Transfer f...,MOHAMED SHEHATA RIFAI HASAN ALSHARQAWI
17,1566960,IPN Network Fund Transfer | Instant Transfer f...,عادل محروس بشاره مينا
18,1719779,IPN Network Fund Transfer | Instant Transfer f...,محمد محمد عبده عبدالرازق
19,1246173,IPN Network Fund Transfer | Instant Transfer f...,عاليه حسين علي حسين
20,1174964,IPN Network Fund Transfer | Instant Transfer f...,HANY ABDALLAH ABDALLAH EMBABY
21,844205,IPN Network Fund Transfer | Instant Transfer f...,IBRAHIM SAMY MOHAMED GAD HASSAN
22,1819955,IPN Network Fund Transfer | Instant Transfer f...,محمود عبد العليم على ابراهيم
23,1230963,IPN Network Fund Transfer | Instant Transfer f...,MOHAMED SEID FEKRY
24,20971,IPN Network Fund Transfer | Instant Transfer f...,TAMER GAMAL HANAFY SAYED
25,1704884,IPN Network Fund Transfer | Instant Transfer f...,احمد طارق عبدالعاطي ابوالعلا سليمان
26,91881,IPN Network Fund Transfer | Instant Transfer f...,مصطفى على عزت على شحاته
27,222665,IPN Network Fund Transfer | Instant Transfer f...,ابراهيمعطيه احمد محمدالشناوى
28,844205,IPN Network Fund Transfer | Instant Transfer f...,IBRAHIM SAMY MOHAMED GAD HASSAN
29,844205,IPN Network Fund Transfer | Instant Transfer f...,IBRAHIM SAMY MOHAMED GAD HASSAN
30,844205,IPN Network Fund Transfer | Instant Transfer f...,ابراهيم سامى محمد جاد حسن
31,844205,IPN Network Fund Transfer | Instant Transfer f...,ابراهيم سامى محمد جاد حسن
32,627396,IPN Network Fund Transfer | Instant Transfer f...,SALAH ELDIN ABO ZEID
33,1976266,IPN Network Fund Transfer | Instant Transfer f...,Abd El Wahab Samy Abd El Wahab
34,844205,IPN Network Fund Transfer | Instant Transfer f...,ابراهيم سامى محمد جاد حسن
35,844205,IPN Network Fund Transfer | Instant Transfer f...,ابراهيم سامى محمد جاد حسن
36,813864,IPN Network Fund Transfer | Instant Transfer f...,HAITHAM ESSAM MOHAME
37,844205,IPN Network Fund Transfer | Instant Transfer f...,ابراهيم سامى محمد جاد حسن
38,1870804,IPN Network Fund Transfer | Instant Transfer f...,هيام جمال يوسف عبدالحميد
39,1204442,IPN Network Fund Transfer | Instant Transfer f...,YEHIA SHERIF ABDELKHALIK KHOLEIF
40,1033270,IPN Network Fund Transfer | Instant Transfer f...,مصطفى على عبدالباقى محمد
41,844205,IPN Network Fund Transfer | Instant Transfer f...,IBRAHIM SAMY MOHAMED GAD HASSAN
42,844205,IPN Network Fund Transfer | Instant Transfer f...,IBRAHIM SAMY MOHAMED GAD HASSAN

In [23]:
merged_data = merged_df[["RETAILER_ID", "extracted_name"]]
merged_data

   RETAILER_ID                               extracted_name
0      1261016                         OMAR ADEL SOBHY WANE
1      1249989             HEBATALLAH SHAHEEN MADEN ELGBALY
2      1811571                      محمد حسنى محمد سيد احمد
3      1535491                EHAB MORSI SIDAHMED ELSABAKHY
4      2170154  MOHAMED HOSSAM MOHAMED MAHMOUD ABO REZEIKAH
5      1845085                             ايمان صلاح عليوه
6      1376504                      HESHAM ABLFATAH MOHAMED
7      1752233                     SAYED MOSTAFA AMIN SAYED
8      1736986                          ايمن مسعود على محمد
9       747329                         ISMAIL MOHAMED ISMAI
10      844205                    ابراهيم سامى محمد جاد حسن
11        7851               Nady Shehata Meatamed Hassanen
12     1732025                         سعيد تامر بباوى عبيد
13     1718760                          مسعد غطاس مسعد غطاس
14       47563        MOHAMED ABDELLAH ABDELLATIF ABD ALLAH
15      783755       MOHAMED SHEHATA RIFAI HASAN ALSHARQAWI
16      783755       MOHAMED SHEHATA RIFAI HASAN ALSHARQAWI
17     1566960                        عادل محروس بشاره مينا
18     1719779                     محمد محمد عبده عبدالرازق
19     1246173                         عاليه حسين علي حسين
20     1174964                HANY ABDALLAH ABDALLAH EMBABY
21      844205              IBRAHIM SAMY MOHAMED GAD HASSAN
22     1819955                 محمود عبد العليم على ابراهيم
23     1230963                           MOHAMED SEID FEKRY
24       20971                     TAMER GAMAL HANAFY SAYED
25     1704884          احمد طارق عبدالعاطي ابوالعلا سليمان
26       91881                      مصطفى على عزت على شحاته
27      222665                 ابراهيمعطيه احمد محمدالشناوى
28      844205              IBRAHIM SAMY MOHAMED GAD HASSAN
29      844205              IBRAHIM SAMY MOHAMED GAD HASSAN
30      844205                    ابراهيم سامى محمد جاد حسن
31      844205                    ابراهيم سامى محمد جاد حسن
32      627396                         SALAH ELDIN ABO ZEID
33     1976266               Abd El Wahab Samy Abd El Wahab
34      844205                    ابراهيم سامى محمد جاد حسن
35      844205                    ابراهيم سامى محمد جاد حسن
36      813864                         HAITHAM ESSAM MOHAME
37      844205                    ابراهيم سامى محمد جاد حسن
38     1870804                     هيام جمال يوسف عبدالحميد
39     1204442             YEHIA SHERIF ABDELKHALIK KHOLEIF
40     1033270                     مصطفى على عبدالباقى محمد
41      844205              IBRAHIM SAMY MOHAMED GAD HASSAN
42      844205              IBRAHIM SAMY MOHAMED GAD HASSAN

In [25]:
# Remove duplicate rows and keep the first occurrence
merged_df_clean = merged_data.drop_duplicates()
print(f"Original rows: {len(merged_data)}")
print(f"After removing duplicates: {len(merged_df_clean)}")

Original rows: 43
After removing duplicates: 33

In [26]:
upload_dataframe_to_snowflake("Egypt", merged_df_clean, "MATERIALIZED_VIEWS", "IPN_users", "overwrite")

/home/ec2-user/service_account_key.json

/home/ec2-user/SageMaker/seif/common_functions.py:503: UserWarning: Pandas Dataframe has non-standard index of type <class 'pandas.core.indexes.base.Index'> which will not be written. Consider changing the index to pd.RangeIndex(start=0,...,step=1) or call reset_index() to keep index as column(s)
  success, _, _, _ = write_pandas(

True

In [37]:
# If check_data has 'retailer_id' (lowercase)
filtered_df = merged_df[~merged_df['RETAILER_ID'].isin(check_data['retailer_id'])]

In [27]:
merged_df['RETAILER_ID'] = merged_df_clean['RETAILER_ID'].astype(str)
check_data['retailer_id'] = check_data['retailer_id'].astype(str)

# Now apply the filter
filtered_df = merged_df_clean[~merged_df_clean['RETAILER_ID'].isin(check_data['retailer_id'])]

# Verify the results
print(f"Original merged_df rows: {len(merged_df)}")
print(f"check_data unique retailer_ids: {len(check_data['retailer_id'].unique())}")
print(f"Filtered df rows: {len(filtered_df)}")

# Check if 1261016 is correctly excluded
print("1261016 in filtered_df:", '1261016' in filtered_df['RETAILER_ID'].values)

Original merged_df rows: 43
check_data unique retailer_ids: 32
Filtered df rows: 0
1261016 in filtered_df: False

In [28]:
filtered_df

Empty DataFrame
Columns: [RETAILER_ID, EXTRACTED_NAME]
Index: []

In [50]:
ipn_approve = ret_metabase("Egypt", 63680)

approve_list = ipn_approve[ipn_approve["REQUEST_STATUS"] ==  "APPROVED"]
approve_list = approve_list[['CREATED_AT','RETAILER_ID', 'REQUEST_STATUS', 'REQUESTED_AMOUNT']]

to_approve_list = ipn_approve[ipn_approve["REQUEST_STATUS"] ==  "PENDING"]
to_approve_list = to_approve_list[['RETAILER_ID', 'REQUEST_STATUS', 'REQUESTED_AMOUNT']]


# parse CREATED_AT safely (handles both with/without milliseconds)
approve_list['CREATED_AT'] = pd.to_datetime(approve_list['CREATED_AT'], format="ISO8601", errors="coerce")

# calculate 10 days ago
last_10_days = pd.Timestamp.today().normalize() - pd.Timedelta(days=10)

# filter last 10 days
approve_filtered = approve_list[approve_list['CREATED_AT'] >= last_10_days]

# extract only date
approve_filtered['CREATED_DATE'] = approve_filtered['CREATED_AT'].dt.date

# keep only the needed columns
approve_filtered = approve_filtered[['CREATED_DATE','RETAILER_ID', 'REQUEST_STATUS', 'REQUESTED_AMOUNT']]

to_approve_list['RETAILER_ID'] = to_approve_list['RETAILER_ID'].astype(str)
check_data['retailer_id'] = check_data['retailer_id'].astype(str)
# Retailers that ARE in check_data
in_check_data = to_approve_list[to_approve_list['RETAILER_ID'].isin(check_data['retailer_id'])]

# Retailers that are NOT in check_data
not_in_check_data = to_approve_list[~to_approve_list['RETAILER_ID'].isin(check_data['retailer_id'])] ### add this to manual approval

# Check the results
print(f"Total retailers in approve_list: {len(to_approve_list)}")
print(f"Retailers in check_data: {len(in_check_data)}")
print(f"Retailers NOT in check_data: {len(not_in_check_data)}")

checking_data = in_check_data.merge(
    check_data[['retailer_id', 'extracted_name']], 
    left_on='RETAILER_ID', 
    right_on='retailer_id', 
    how='left'
)

check_data_with_names = check_datain_check_data_with_names.groupby('RETAILER_ID').agg({
    'extracted_name': lambda x: ' | '.join(x.dropna().unique())
}).reset_index()
check_data_with_names


def filter_bank_df_by_names(bank_df, check_data_with_names):
    """
    Filter bank_df to find rows where Description contains any of the names
    from the extracted_name column (split by ' | ')
    """
    filtered_rows = []
    
    for _, row in check_data_with_names.iterrows():
        retailer_id = row['RETAILER_ID']
        extracted_name = row['extracted_name']
        
        if pd.isna(extracted_name):
            continue
            
        # Split the extracted_name by ' | ' to get individual names
        names = [name.strip() for name in extracted_name.split(' | ')]
        
        # Filter bank_df for this retailer's names
        for name in names:
            if name:  # Skip empty names
                matching_rows = bank_df[bank_df['Description'].str.contains(name, case=False, na=False)]
                if not matching_rows.empty:
                    # Add retailer_id to the matching rows
                    matching_rows = matching_rows.copy()
                    matching_rows['matched_retailer_id'] = retailer_id
                    matching_rows['matched_name'] = name
                    filtered_rows.append(matching_rows)
    
    if filtered_rows:
        return pd.concat(filtered_rows, ignore_index=True)
    else:
        return pd.DataFrame()

# Apply the filtering
filtered_bank_df = filter_bank_df_by_names(filtered_df, check_data_with_names)
print(f"Found {len(filtered_bank_df)} matching rows in bank_df")
if not filtered_bank_df.empty:
    # Assuming the credit column is named 'Credit' - adjust if different
    credit_sum = filtered_bank_df['Credit'].sum()
    print(f"Sum of Credit column: {credit_sum}")
    
    # If you want to see the breakdown by retailer_id
    credit_by_retailer = filtered_bank_df.groupby('matched_retailer_id')['Credit'].sum().reset_index()
    if len(credit_by_retailer) == 1:  # Ensure there's only one row
        matched_retailer_id = credit_by_retailer.iloc[0]['matched_retailer_id']
        
        # Convert both to string for comparison to handle data type differences
        matched_retailer_id_str = str(matched_retailer_id)
        approve_filtered['RETAILER_ID_str'] = approve_filtered['RETAILER_ID'].astype(str)
        
        # Debug: Check data types and values
        print(f"matched_retailer_id type: {type(matched_retailer_id)}, value: {matched_retailer_id}")
        print(f"df_approve_filtered RETAILER_ID sample values: {approve_filtered['RETAILER_ID'].head().tolist()}")
        print(f"df_approve_filtered RETAILER_ID_str sample values: {approve_filtered['RETAILER_ID_str'].head().tolist()}")
        
        # Filter df_approve_filtered for matching RETAILER_ID
        matching_approve_rows = approve_filtered[approve_filtered['RETAILER_ID_str'] == matched_retailer_id_str]
        
        # Sum the REQUESTED_AMOUNT for matching rows
        requested_amount_sum = matching_approve_rows['REQUESTED_AMOUNT'].sum()
        
        print(f"Retailer ID: {matched_retailer_id}")
        print(f"Number of matching rows in df_approve_filtered: {len(matching_approve_rows)}")
        print(f"Sum of REQUESTED_AMOUNT: {requested_amount_sum}")
        
        # If you want to see the matching rows
        print("Matching rows from df_approve_filtered:")
        print(matching_approve_rows[['RETAILER_ID', 'REQUESTED_AMOUNT']])
        credit_by_retailer['Credit'] = credit_by_retailer['Credit'] - requested_amount_sum
        print(f"Updated credit_by_retailer after subtraction:")
        print(credit_by_retailer)
        
        # Clean up the temporary column
        approve_filtered = approve_filtered.drop(columns=['RETAILER_ID_str'])
else:
    print("Warning: credit_by_retailer has more than one row, expected only one")

/home/ec2-user/service_account_key.json

In [125]:
ipn_approve = ret_metabase("Egypt", 63680)
to_approve_list = ipn_approve[ipn_approve["REQUEST_STATUS"] ==  "PENDING"]
to_approve_list = to_approve_list[['RETAILER_ID', 'REQUEST_STATUS','NONCE', 'REQUESTED_AMOUNT']]

/home/ec2-user/service_account_key.json

In [126]:
approve_list = ipn_approve[ipn_approve["REQUEST_STATUS"] ==  "APPROVED"]
approve_list = approve_list[['CREATED_AT','RETAILER_ID', 'REQUEST_STATUS', 'REQUESTED_AMOUNT']]

In [46]:
# parse CREATED_AT safely (handles both with/without milliseconds)
approve_list['CREATED_AT'] = pd.to_datetime(approve_list['CREATED_AT'], format="ISO8601", errors="coerce")

# calculate 10 days ago
last_10_days = pd.Timestamp.today().normalize() - pd.Timedelta(days=10)

# filter last 10 days
approve_filtered = approve_list[approve_list['CREATED_AT'] >= last_10_days]

# extract only date
approve_filtered['CREATED_DATE'] = approve_filtered['CREATED_AT'].dt.date

# keep only the needed columns
approve_filtered = approve_filtered[['CREATED_DATE','RETAILER_ID', 'REQUEST_STATUS', 'REQUESTED_AMOUNT']]

/tmp/ipykernel_31367/4252835909.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  approve_filtered['CREATED_DATE'] = approve_filtered['CREATED_AT'].dt.date

In [129]:
to_approve_list['RETAILER_ID'] = to_approve_list['RETAILER_ID'].astype(str)
check_data['retailer_id'] = check_data['retailer_id'].astype(str)
# Retailers that ARE in check_data
in_check_data = to_approve_list[to_approve_list['RETAILER_ID'].isin(check_data['retailer_id'])]

# Retailers that are NOT in check_data
not_in_check_data = to_approve_list[~to_approve_list['RETAILER_ID'].isin(check_data['retailer_id'])]

# Check the results
print(f"Total retailers in approve_list: {len(to_approve_list)}")
print(f"Retailers in check_data: {len(in_check_data)}")
print(f"Retailers NOT in check_data: {len(not_in_check_data)}")

Total retailers in approve_list: 29
Retailers in check_data: 4
Retailers NOT in check_data: 25

In [128]:
check_data = snowflake_query("Egypt", "select * from materialized_views.IPN_users", warehouse=None, columns=[], conn=None)

/home/ec2-user/service_account_key.json

In [130]:
checking_data = in_check_data.merge(
    check_data[['retailer_id', 'extracted_name']], 
    left_on='RETAILER_ID', 
    right_on='retailer_id', 
    how='left'
)
checking_data

,RETAILER_ID,REQUEST_STATUS,NONCE,REQUESTED_AMOUNT,retailer_id,extracted_name
0,723064,PENDING,35584b04-b6fe-47eb-bd20-e05e82046f74,1000.0,723064,Mohamed Abdelmoneam
1,1758955,PENDING,a9c6297b-2763-4855-92d5-7bb2087178be,600.0,1758955,ISLAM MOHAMED ELSAYED ABDEL HAMID
2,1977265,PENDING,88bd3420-d16c-4181-a537-1c9a1cac5a11,520.0,1977265,وليد شاكر على خميس
3,1484889,PENDING,07666d60-8bd8-4015-9665-e971d38965ba,1000.0,1484889,حسام محمد على محمد

In [131]:
check_datain_check_data_with_names = in_check_data.merge(
    check_data[['retailer_id', 'extracted_name']], 
    left_on='RETAILER_ID', 
    right_on='retailer_id', 
    how='left'
)
check_datain_check_data_with_names

,RETAILER_ID,REQUEST_STATUS,NONCE,REQUESTED_AMOUNT,retailer_id,extracted_name
0,723064,PENDING,35584b04-b6fe-47eb-bd20-e05e82046f74,1000.0,723064,Mohamed Abdelmoneam
1,1758955,PENDING,a9c6297b-2763-4855-92d5-7bb2087178be,600.0,1758955,ISLAM MOHAMED ELSAYED ABDEL HAMID
2,1977265,PENDING,88bd3420-d16c-4181-a537-1c9a1cac5a11,520.0,1977265,وليد شاكر على خميس
3,1484889,PENDING,07666d60-8bd8-4015-9665-e971d38965ba,1000.0,1484889,حسام محمد على محمد

In [140]:
check_data_with_names = check_datain_check_data_with_names.groupby('RETAILER_ID').agg({
    'extracted_name': lambda x: ' | '.join(x.dropna().unique())
}).reset_index()
check_data_with_names

  RETAILER_ID                     extracted_name
0     1484889                 حسام محمد على محمد
1     1758955  ISLAM MOHAMED ELSAYED ABDEL HAMID
2     1977265                 وليد شاكر على خميس
3      723064                Mohamed Abdelmoneam

In [141]:
check_data_with_names = check_data_with_names.head(1)

In [142]:
check_data_with_names

  RETAILER_ID      extracted_name
0     1484889  حسام محمد على محمد

In [143]:
def filter_bank_df_by_names(bank_df, check_data_with_names):
    """
    Filter bank_df to find rows where Description contains any of the names
    from the extracted_name column (split by ' | ')
    """
    filtered_rows = []
    
    for _, row in check_data_with_names.iterrows():
        retailer_id = row['RETAILER_ID']
        extracted_name = row['extracted_name']
        
        if pd.isna(extracted_name):
            continue
            
        # Split the extracted_name by ' | ' to get individual names
        names = [name.strip() for name in extracted_name.split(' | ')]
        
        # Filter bank_df for this retailer's names
        for name in names:
            if name:  # Skip empty names
                matching_rows = bank_df[bank_df['Description'].str.contains(name, case=False, na=False)]
                if not matching_rows.empty:
                    # Add retailer_id to the matching rows
                    matching_rows = matching_rows.copy()
                    matching_rows['matched_retailer_id'] = retailer_id
                    matching_rows['matched_name'] = name
                    filtered_rows.append(matching_rows)
    
    if filtered_rows:
        return pd.concat(filtered_rows, ignore_index=True)
    else:
        return pd.DataFrame()

# Apply the filtering
filtered_bank_df = filter_bank_df_by_names(filtered_df, check_data_with_names)
print(f"Found {len(filtered_bank_df)} matching rows in bank_df")

Found 1 matching rows in bank_df

In [144]:
if not filtered_bank_df.empty:
    # Assuming the credit column is named 'Credit' - adjust if different
    credit_sum = filtered_bank_df['Credit'].sum()
    print(f"Sum of Credit column: {credit_sum}")
    
    # If you want to see the breakdown by retailer_id
    credit_by_retailer = filtered_bank_df.groupby('matched_retailer_id')['Credit'].sum().reset_index()

Sum of Credit column: 500.0

In [145]:
credit_by_retailer

  matched_retailer_id  Credit
0             1484889   500.0

In [146]:
if len(credit_by_retailer) == 1:  # Ensure there's only one row
        matched_retailer_id = credit_by_retailer.iloc[0]['matched_retailer_id']
        
        # Convert both to string for comparison to handle data type differences
        matched_retailer_id_str = str(matched_retailer_id)
        approve_filtered['RETAILER_ID_str'] = approve_filtered['RETAILER_ID'].astype(str)
        
        # Debug: Check data types and values
        print(f"matched_retailer_id type: {type(matched_retailer_id)}, value: {matched_retailer_id}")
        print(f"df_approve_filtered RETAILER_ID sample values: {approve_filtered['RETAILER_ID'].head().tolist()}")
        print(f"df_approve_filtered RETAILER_ID_str sample values: {approve_filtered['RETAILER_ID_str'].head().tolist()}")
        
        # Filter df_approve_filtered for matching RETAILER_ID
        matching_approve_rows = approve_filtered[approve_filtered['RETAILER_ID_str'] == matched_retailer_id_str]
        
        # Sum the REQUESTED_AMOUNT for matching rows
        requested_amount_sum = matching_approve_rows['REQUESTED_AMOUNT'].sum()
        
        print(f"Retailer ID: {matched_retailer_id}")
        print(f"Number of matching rows in df_approve_filtered: {len(matching_approve_rows)}")
        print(f"Sum of REQUESTED_AMOUNT: {requested_amount_sum}")
        
        # If you want to see the matching rows
        print("Matching rows from df_approve_filtered:")
        print(matching_approve_rows[['RETAILER_ID', 'REQUESTED_AMOUNT']])
        credit_by_retailer['Credit'] = credit_by_retailer['Credit'] - requested_amount_sum
        print(f"Updated credit_by_retailer after subtraction:")
        print(credit_by_retailer)
        
        # Clean up the temporary column
        approve_filtered = approve_filtered.drop(columns=['RETAILER_ID_str'])
else:
    print("Warning: credit_by_retailer has more than one row, expected only one")

matched_retailer_id type: <class 'str'>, value: 1484889
df_approve_filtered RETAILER_ID sample values: [2096966, 1713976, 1876168, 1856446, 1563420]
df_approve_filtered RETAILER_ID_str sample values: ['2096966', '1713976', '1876168', '1856446', '1563420']
Retailer ID: 1484889
Number of matching rows in df_approve_filtered: 1
Sum of REQUESTED_AMOUNT: 500.0
Matching rows from df_approve_filtered:
     RETAILER_ID  REQUESTED_AMOUNT
427      1484889             500.0
Updated credit_by_retailer after subtraction:
  matched_retailer_id  Credit
0             1484889     0.0

In [86]:
if credit_by_retailer.iloc[0]['Credit'] > 0:
    # merge on retailer IDs
    data_for_gsheet = credit_by_retailer.merge(
    to_approve_list,
    left_on="matched_retailer_id",
    right_on="RETAILER_ID",
    how="left")  # or "inner" if you only want exact matches

In [87]:
data_approved

,matched_retailer_id,Credit,RETAILER_ID,REQUEST_STATUS,NONCE,REQUESTED_AMOUNT
0,844205,30000.0,NaN,NaN,NaN,NaN

In [41]:
bank_df = google_sheets("Test_IPN", "bank", "get")

/home/ec2-user/service_account_key.json

In [43]:
# bank_df = google_sheets("Test_IPN", "bank", "get")
bank_df = bank_df[['Transaction Date/Time', 'Description','Credit']]

In [44]:
import pandas as pd

# ensure column is in datetime format
bank_df['Transaction Date/Time'] = pd.to_datetime(bank_df['Transaction Date/Time'])

# filter last 10 days
last_10_days = pd.Timestamp.today().normalize() - pd.Timedelta(days=10)
filtered_df = bank_df[bank_df['Transaction Date/Time'] >= last_10_days]

# if you only want the date part (not time)
filtered_df['Transaction Date'] = filtered_df['Transaction Date/Time'].dt.date

# keep only the needed columns
filtered_df = filtered_df[['Transaction Date', 'Description', 'Credit']]
filtered_df

/tmp/ipykernel_31367/3837802330.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Transaction Date'] = filtered_df['Transaction Date/Time'].dt.date

,Transaction Date,Description,Credit
2581,2025-08-17,IPN Network Fund Transfer | Instant Transfer f...,10000.00
2582,2025-08-17,| Total Mobil Payment TRX21 2025-08-161639358...,956160.00
2583,2025-08-17,| Total Mobil Payment TRX21 2025-08-167742952...,51393.60
2584,2025-08-17,| Total Mobil Payment TRX21 2025-08-162213547...,7021.80
2585,2025-08-17,| Total Mobil Payment TRX21 2025-08-161472804...,10236114.12
...,...,...,...
4816,2025-08-27,Cash Depoist | بدوي محمد مهدي شركه طيبه 2000 ا...,190995.00
4817,2025-08-27,Cash Depoist | عصام عاصف عامر -,1385000.00
4818,2025-08-27,Cash Depoist | مصطفي محمد عبدالرحمن -,531550.00
4819,2025-08-27,Cash Depoist | مصطفي محمد عبدالرحمن -,11000.00
4820,2025-08-27,Cash Depoist | على محمد على -,1042000.00